<h2>海外で働きたい、キャリアを築きたい人へ</h2>

<p>
SekaiBookは、海外での就職やキャリア、仕事の悩みを解決するための質の高い情報を提供したいと考えています。

その質の高さ、役に立ったと思えるかどうかは実際に海外で働きたいと考えている人にしかわかりません。

欲しい記事やキャリアの先輩の情報は問い合わせでご連絡いただくか、Facebookグループに入っていただければ一緒に探します。

読んでみてシェアしたいと思った記事はBookしてくれると他の人にも拡散され、その人の役に立ちます。

どう役に立ったのかをコメントいただければ、その記事を書いた人、同じような知識を持っている人がさらに役に立つ記事の執筆に繋がります。
</p>