<h2>海外で活躍する人、活躍していた人へ</h2>


<p>SekaiBookは、海外での就職やキャリア、仕事の悩みを解決するための質の高い情報を集めたいと考えています。</p>

<p>その情報をブログや動画等の形ですでに発信されている方、現在(過去に)海外で管理職、経営者として働かれている方で今までの経験をアウトプットしたい方を必要としています。</p>

<p>私には世界で活躍する方法を書くことや伝えたりすることはできませんが、良いと思った情報の発信のお手伝いをすることはできます。</p>

<p>私がアメリカやメキシコで働いていた時に出会いたかったと思える情報や人と次の世代はちゃんと出会えるようにしたいです。</p>

<p>何年もかけて積み上げた先輩方の知識や経験をもっと簡単に発信したり、まとめたりできるようにしたいです。</p>

<p>もし海外での知識や経験を発信したい、発信力を高めたいとお考えの方がいらっしゃいましたらご利用いただけますと幸いです。</p>

<p>またSekaiBookは、そのような経験者の方々と面と向かって向き合わさせていただきたいと考えております。</p>

<p>Facebookページを開設しておりますので、是非そちらにもご加入いただければ、もっとお互いの発信力やつながりの形成にお役立ちできるかと思います。</p>
