<h5 class="center-align">利用規約</h5>

<h6>規約の適応</h6>
<ol class='termandprivacy'>
  <li>
	  SoDone利用規約（以下「本規約」という。）は、SoDone（以下「管理者」という。）が提供するSoDone組織内行動診断に関連する全ての製品及びサービス（以下「本サービス」という。）の利用に関する条件を、本サービスを利用するユーザー（以下「ユーザー」という。）と管理者との間で定めるものである。
  </li>
  <li>
    本サービスを利用する全てのユーザーは、本規約に同意する必要があり、本サービスの利用開始をもって、本規約に同意したものとみなす。
  </li>
  <li>
	  ユーザーは、本サービスの利用の都度、本規約の変更の有無を確認し、また変更がなされた場合には、変更後の本規約に同意の上で本サービスを利用すること。
  </li>
  <li>
	  管理者がユーザーに対して、別途以下の各号のものを定めた場合、これらも本規約の一部を構成する。
    <ol class='termandprivacy'>
      <li>
    	  プライバシーポリシー
      </li>
      <li>
    		管理者が本サービスで掲示する諸注意等
      </li>
      <li>
    		本サービスを構成する全ての個別サービスの利用規約・ガイドライン等
      </li>
      <li>
    	  前項各号のものを定めた場合、これらの規定に定めのない事項については、本規約の規定が適用されるものとし、これらの規定に本規約と異なる定めが規定された事項については、本規約に優先して適用されることが明示されている場合に限り、これらの規定が本規約に優先して適用される。
      </li>
    </ol>
  </li>
</ol>


<h6>ユーザの責任</h6>
<ol class='termandprivacy'>
  <li>
    ユーザーは、自身の責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為およびその結果について責任を負う。
  </li>
  <li>
    ユーザーは、管理者がユーザーの行為に起因して何らかの不利益、負担または損害を被った場合、管理者の請求に従い直ちにこれを補償する。
  </li>
</ol>


<h6>ユーザの禁止行為</h6>
<ol class='termandprivacy'>
  <li>
    利用者は、本サービスを利用して以下の行為、または以下に該当する恐れのある行為を行ってはならない。
    <ol class='termandprivacy'>
      <li>
        本サービスを不正の目的をもって利用する行為
      </li>
      <li>
        他のユーザーまたは第三者の著作権、肖像権、その他知的財産権を侵害する行為
      </li>
      <li>
        他のユーザーまたは第三者を差別、誹謗中傷、脅迫し、あるいはプライバシー、人権等を侵害する行為
      </li>
      <li>
        政治活動、選挙活動、宗教活動
      </li>
      <li>
        管理者の名誉・信用を傷付け、信頼を毀損する行為
      </li>
      <li>
        本サービスの運営を妨げる行為
      </li>
      <li>
        本サービスを商業目的で利用する行為(管理者が認める場合を除く）
      </li>
      <li>
        本サービスの利用についての再許諾、本サービスの譲渡、変更、翻訳、リバースエンジニアリング、逆コンパイル、逆アセンブルする行為
      </li>
      <li>
        その他法律、法令、公序良俗に反する行為、またはそのおそれのある行為
      </li>
      <li>
        その他管理者が不適当・不適切と判断した行為
      </li>
    </ol>
  </li>
  <li>
    前項に掲げる行為によって、管理者または第三者に損害が生じた場合、ユーザーはすべての法的責任を負うものとし、管理者および第三者に損害を与えないものとする。
  </li>
  <li>
    管理者は、ユーザーが前2項に掲げる行為を行ったと合理的に判断した場合は、事前に通知することなく、本サイトの利用の停止をすることができるものとする。
  </li>
</ol>


<h6>著作権等の取扱い</h6>
<ol class='termandprivacy'>
  <li>
    このウェブサイト上の情報の著作権は、すべて当サイト管理者またはそのライセンサーに帰属する。
  </li>
  <li>
    利用者が本サービスに関して提供した情報またはアンケート・インタビュー等への回答として提供した情報（以下、「利用者情報」といいます。）の著作権は、原則として全て利用者に帰属するものとする。ただし、当サイト管理者は、利用者情報の全部または一部を、当サイト管理者の裁量により利用者への事前の通知、承諾および対価の支払いを要せず、自由に利用することができるものとする。
  </li>
  <li>
    利用者は、利用者情報につき、著作者人格権を行使しないものとします。
  </li>
  <li>
    当サイト管理者は、第1項および第2項に規定する情報等を用いて出版等の事業を行うことができるものとします。
  </li>
  <li>
    当サイト管理者は、適切な場合、独自の裁量で第三者の著作権、その他の知的所有権を侵害する利用者の本サービスへのアクセスを停止することができるものとします。
  </li>
</ol>


<h6>反社会勢力との関係の禁止</h6>
<ol class='termandprivacy'>
  <li>
    管理者およびユーザーは、現在、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、その他これらに準ずる者(以下これらを「暴力団員等」という。)に該当しないこと、および次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約するものとする。
  </li>
  <li>
    暴力団員等が経営を支配していると認められる関係を有すること
  </li>
  <li>
    暴力団員等が経営に実質的に関与していると認められる関係を有すること
  </li>
  <li>
    自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること
  </li>
  <li>
    暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
  </li>
  <li>
    役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること
  </li>
  <li>
    管理者およびユーザーは、自らまたは第三者を利用して次の各号の一にでも該当する行為を行わないことを確約するものとする。
    <ol class='termandprivacy'>
      <li>
        暴力的な要求行為
      </li>
      <li>
        法的な責任を超えた不当な要求行為
      </li>
      <li>
        取引に関して、脅迫的な言動をし、または暴力を用いる行為
      </li>
      <li>
        風説を流布し、偽計を用いまたは威力を用いて相手方の信用を毀損し、または相手方の業務を妨害する行為
      </li>
      <li>
        その他前各号に準ずる行為
      </li>
    </ol>
  </li>
  <li>
    管理者およびユーザーは、前二項の表明に反して、相手方が暴力団員等あるいは前二項各号の一にでも該当することが判明したときは、何らの催告をせず、本規約に基づく一切の契約を解除することができ、相手方はこれになんら異議を申し立てないものとする。なお、この場合、表明に反した当事者は、期限の利益を喪失し、直ちに相手方に対する債務の弁済を行うものとする。
  </li>
</ol>

<h6>第三者による本サービスの利用</h6>
<ol class='termandprivacy'>
  <li>
    ユーザーは、管理者が認めた第三者に対し本サービスを利用させる場合は、当該第三者に対し、本規約の内容を周知し、本規約における契約者の義務と同等の義務を課すものとする。
  </li>
  <li>
    ユーザーは、前項に基づいて本サービスを利用させた第三者の一切の行為について責任を負うものとし、当該第三者が本規約に違反したときは、これにより管理者が被った一切の損害を、当該第三者と連帯して管理者に賠償するものとします。
  </li>
</ol>

<h6>管理者の免責</h6>
<ol class='termandprivacy'>
  <li>
    管理者は、本サービスをユーザーに提供するにあたり、ユーザーが被ったいかなる損害について、法令に定める場合を除き、一切の責任を負わない。なお、管理者が責任を負う場合であっても、損害賠償等の金額は、ユーザーが本サービスの利用のために管理者に支払った金額を上限とする。
    <ol class='termandprivacy'>
      <li>
        管理者は、ユーザー同士若しくはユーザーと第三者において生じた紛争や損害につき、一切の責任を負わない。
      </li>
      <li>
        管理者は、本サービス、本サービスにおいて提供される情報、診断結果に関して、その正確性、完全性、目的適合性、有用性、適法性、最新性、および第三者の権利を侵害していないことについて、一切保証する義務を負わない。
      </li>
      <li>
        管理者は本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
      </li>
    </ol> 
  </li>
  <li>
    管理者は、運営するこのウェブサイトにおいて本サービスを提供するに過ぎず、別段合意をする場合を除き、商品の売買契約の当事者となるものではありません。
  </li>
  <li>
    管理者は、別段の合意をする場合を除き、商品および販売者に関して何ら保証するものではありません。
  </li>
</ol>


<h6>本サービスの変更、停止または廃止</h6>
<ol class='termandprivacy'>
  <li>
    管理者は、以下各号の事由に起因する場合、本サービスの全部または一部を予告なく停止することができ、かかる停止に起因してユーザーまたは第三者に損害が発生した場合、会社は一切の責任を負わない。
    <ol class='termandprivacy'>
      <li>
        定期的または緊急に本サービス提供のためのシステムの保守または点検を行う場合
      </li>
      <li>
        地震、火災、停電、天災地変等の非常事態により本サービスの運営が不能となった場合
      </li>
      <li>
        戦争、内乱、暴動、騒擾、労働争議等により、本サービスの運営が不能となった場合
      </li>
      <li>
        本サービス提供のためのシステムの不良および第三者からの不正アクセス、コンピューターウイルスの感染等により本サービスを提供できない場合
      </li>
      <li>
        法令等に基づく措置により本サービスが提供できない場合
      </li>
      <li>
        その他管理者が止むを得ないと判断した場合
      </li>
    </ol>
  </li>
  <li>
    管理者は、本サービスの全部または一部を予告なく改訂、追加、または変更することができるものとし、これによりユーザーまたは第三者に損害が発生した場合であっても、一切の責任を負わないものとする。ただし、管理者に故意または重過失がありこれにより損害を生じた場合は、かかる損害について賠償する。
  </li>
</ol>

<h6>本利用規約の変更</h6>
<ol class='termandprivacy'>
  <li>
    当社は、当社の判断により、本利用規約をいつでも任意の理由で変更することができる。
  </li>
  <li>
    変更後の利用規約は、当社が別途定める場合を除いて、本サービス上で表示された時点より効力を生じるものとする。
  </li>
  <li>
    ユーザーが、本利用規約の変更の効力が生じた後に本サービスを利用する場合には、変更後の利用規約の全ての記載内容に同意したものとみなされる。
  </li>
</ol>

<h6>本利用規約およびその他の利用規約等の有効性</h6>
<ol class='termandprivacy'>
  <li>
    本利用規約の規定の一部が法令に基づいて無効と判断されても、本利用規約のその他の規定は有効とする。
  </li>
  <li>
    本利用規約の規定の一部があるユーザーとの関係で無効とされ、または取り消された場合でも、本利用規約はその他のユーザーとの関係では有効とする。
  </li>
</ol>

<h6>準拠法および管轄裁判所</h6>
  <ol class='termandprivacy'>
    <li>
    本利用規約の準拠法は、日本法とする。
    </li>
    <li>
    利用者と管理者の間で訴訟の必要が生じた場合、札幌地方裁判所を第一審の専属的合意管轄裁判所とする。
    </li>
  </ol>

<p>2018年10月6日 策定</p>

<p>管理者</p>

